* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    --palid-blue: #3D5873;
    font-family: Source Sans Pro;
    background-color: #0e0e0e;
}

.container {
    width: 1140px;
    @media(max-width: 992px) {
        max-width: 960px;
    }
    @media(max-width: 768px) {
        max-width: 720px;
    }
    @media(max-width: 576px) {
        max-width: 540px;
    }
    @media(max-width: 475px) {
        width: 100%;
    }
}

// Buttons

.btn-main {
    background-color: #FFC84D;
    border: 0;
    border-radius: 25px;
    color: #091440;
    cursor: pointer;
    font-family: Source Sans Pro;
    font-size: 0.9rem;
    font-weight: bold;
    height: 26px;
    margin-top: 5px;
    padding: 0 10px;
    text-transform: uppercase;
    width: 195px;
    @media(max-width: 475px) {
        font-size: 0.7rem;
        padding: 0 7px;
        width: 185px;
    }
    @media(max-width: 280px) {
        font-size: 0.6rem;
        padding: 0 2px;
        width: 165px;
    }
}