.separator-bar {
    // You can view separation-bar style in the _social-media-bar.scss file
    .container {
        display: flex;
        justify-content: center;
        .images-wrapper {
            margin-right: 2rem;
            img {
                width: 57px;
            }
        }
        .text {
            display: flex;
            p {
                font-size: 1.6em;
                font-weight: 600; 
                margin: 0px;
                margin-right: 2rem;
                text-align: left;
                text-transform: uppercase;
            }
        }
    }
}