
/* FONTS */

html {
  font-family: Georgia, 'Times New Roman', Times, serif;
}


/* Navegacion */

.bg-dark {
  background-color: #0e0e0e !important;
  color: white;
}


/* Primera Seccion */

section.first .jumbotron {
  background-color: #0e0e0e;
  color: white;
}

/* Segunda Seccion */

section.second {
  background-color: royalblue;
  padding-top: 25px;
  padding-bottom: 25px;
}



/* Social Bar */

section.socialbar {
  background-color: #2ED6A1;
  height: 90%; 
  text-align:center; 
  display:table;
  width:100%;
}

#unete {
  color: #091440;
  vertical-align: middle;
}

ul.social-media-list {
  list-style: none;
}

ul.social-media-list img {
  /* padding: auto ; */
  border-radius: 5px;
  width: 36px;
  height: 36px;
}

.social-media-list li {
  display: inline-block;
  margin-right: 1em;
  font-size: 180%;
  margin: auto;
  padding: 20px;
}

.social-media-list li a {
  vertical-align: middle;
  color: #091440;
}

.page-footer {
  color: white;
}














/* .bg-dark {
  background-color: #343a40 !important;
} */

/* .navbar {
  background-color: #0e0e0e;
} */

body {
  background-color: #0e0e0e;
}

h1 {
  color: white;
}

/* nav.bg-dark {
  background-color: #0e0e0e;
} */
