<footer>
  <div>
    <ul>
      <li><a href="">Decred.org</a></li>
      <li><a href="">Documentos</a></li>
      <li><a href="">Billetera</a></li>
      <li><a href="">Comunidad</a></li>
      <li><a href="">Reportes mensuales</a></li>
    </ul>
    <h4>Comunidad:</h4>
    <ul>
      <li>Twitter</a></li>
      <li><a href="">Medium</a></li>
      <li><a href="">Discord</a></li>
      <li><a href="">Matrix</a></li>
    </ul>
  </div>
  <div>
    <h4><a href="">Decred en Español</a></h4>
    <p>2020 | Decred en Español</p>
  </div>
</footer>