<section class="youtube">
  <!-- <img src="" alt="" class="youtube-type">
   -->
  <!-- <h4>Decred en Español: El Podcast</h4> -->
   <img src="img/decredes-podcast.png" alt="" class="youtube-logo">
  
  <iframe src="https://www.youtube.com/embed/BGuV7AGeWAE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <p>Escuchalo tambien en Spotify</p>
  <h4 class="youtube-title">2do Episodio: Qué es Decred</p>
  <p class="youtube-desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. alias voluptate delectus eius nesciunt porro! eum expedita voluptate dolor dignissimos...</p>
</section>



<!-- <section id="podcast">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                
                <img src="/img/podcast2.png" class="mr-3 last-podcast" alt="...">
                <div class="podcast-text">
                    <h1>Qué es Decred</h1>
                    <h4>ft. Elian Huesca</h4>
                </div>
            </div>
            <div class="col-sm">
                <ul class="list-unstyled">
                    {{ range where .Site.RegularPages "Section" "youtube" }}
                    <li class="media">
                      <img src="{{ .Params.imagen }}" class="mr-3" alt="...">
                      <div class="media-body">
                        <h5 class="mt-0 mb-1">{{ .Title }}</h5>
                        <p>{{ .Description }}</p>
                        <ul>
                          <li><a href="{{ .Params.youtubeurl }}">Ver video</a></li>
                        </ul>
                        <p>{{ .Params.fecha }}</p>
                      </div>
                    </li>
                    {{ end }}
                  </ul>
            </div>
        </div>
    </div>  
</section> -->