<section class="second">
<div class="container">

<div class="row">
<div class="card-deck">
    {{ range (where .Site.RegularPages.ByDate "Section" "articulos" ) }}
        <div class="card">
        <img src="https://avatars1.githubusercontent.com/u/16297194?s=400&v=4" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ .Title }}</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    {{ end }}
  </div>
</div>
</div>
</section>