<section class="socialbar">
    <div class="container">
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <h2 id="unete">Unete a nuestra comunidad</h2>
              </div>
              <div class="col-sm">
                <ul class="social-media-list align-middle">
                    <li>
                        <a href="#" class="fa fa-facebook"></a>     
                    </li>
                    <li>
                        <a href="#" class="fa fa-telegram"></a>     
                    </li>
                    <li>
                        <a href="#" class="fa fa-twitter"></a>     
                    </li>
                    <li>
                        <a href="#" class="fa fa-github"></a>     
                    </li>
                    <li>
                        <a href="#" class="fa fa-instagram"></a>     
                    </li>
                </ul>
              </div>
            </div>
          </div>
    </div>  
</section>